@font-face {
  font-family: "Function";
  font-display: swap;
  src: url("../fonts/Function Bold.woff") format("woff"), url("../fonts/Function Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Function";
  font-display: swap;
  src: url("../fonts/Function Regular.woff") format("woff"), url("../fonts/Function Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "KievitPro";
  font-display: swap;
  src: url("../fonts/KievitPro-Bold.woff") format("woff"), url("../fonts/KievitPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Olicana Smooth";
  font-display: swap;
  src: url("../fonts/Olicana Smooth.woff") format("woff"), url("../fonts/Olicana Smooth.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Verlag";
  font-display: swap;
  src: url("../fonts/Verlag Bold.woff") format("woff"), url("../fonts/Verlag Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url("../iconfonts/icomoon.eot?du95db");
  src: url("../iconfonts/icomoon.eot?du95db#iefix") format("embedded-opentype"), url("../iconfonts/icomoon.ttf?du95db") format("truetype"), url("../iconfonts/icomoon.woff?du95db") format("woff"), url("../iconfonts/icomoon.svg?du95db#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_back_ios:before {
  content: "\e901";
}

.icon-arrow_forward_ios:before {
  content: "\e902";
}

.icon-home:before {
  content: "\e900";
}

.icon-phone:before {
  content: "\e942";
}

.icon-spoon-knife:before {
  content: "\e9a3";
}

.icon-heart:before {
  content: "\e9da";
}

.icon-smile:before {
  content: "\e9e1";
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-size: 18px;
  font-family: 'Prompt', sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: #000;
  margin: 0;
}

body.js-lock {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.footer {
  margin-top: auto;
}

.container {
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.lazyload,
.lazyloading {
  opacity: 0.001;
}

.lazyloaded {
  opacity: 1;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}

img.lazyload:not([src]) {
  visibility: hidden;
}

/* main title */

.main-title {
  font-size: 78px;
  font-family: 'Permanent Marker', cursive;
}

/* section */

.section {
  height: 100vh;
  min-height: 700px;
  overflow: hidden;
}

.section__inner {
  height: calc(100vh - 93px);
  min-height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* section 001 */

.section_001 {
  background: -o-linear-gradient(45deg, #fead06, #c00def);
  background: linear-gradient(45deg, #fead06, #c00def);
}

.section_001 .form {
  position: relative;
  padding: 70px 40px;
  background-color: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

.section_001 .form__title {
  line-height: 1em;
  font-weight: 500;
  padding-left: 10px;
  border-left: 5px solid #e91e63;
  margin-bottom: 45px;
}

.section_001 .form__textfield {
  position: relative;
  width: 300px;
  height: 46px;
  margin-bottom: 35px;
}

.section_001 .form__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 1px solid #000;
  background: transparent;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 300;
}

.section_001 .form__placeholder {
  position: absolute;
  top: 1px;
  left: 1px;
  padding: 10px;
  display: block;
  font-size: 16px;
  font-weight: 300;
  -webkit-transition: font-size .5s, -webkit-transform .5s;
  transition: font-size .5s, -webkit-transform .5s;
  -o-transition: transform .5s, font-size .5s;
  transition: transform .5s, font-size .5s;
  transition: transform .5s, font-size .5s, -webkit-transform .5s;
  pointer-events: none;
}

.section_001 .form__input:focus ~ .form__placeholder,
.section_001 .form__input:valid ~ .form__placeholder {
  -webkit-transform: translate(-10px, -32px);
      -ms-transform: translate(-10px, -32px);
          transform: translate(-10px, -32px);
  font-size: 12px;
}

.section_001 .btn {
  background: #2196f3;
  color: #fff;
  border: none;
  padding: 10px 30px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: background .3s;
  -o-transition: background .3s;
  transition: background .3s;
}

.section_001 .btn:hover {
  background: #e91e63;
}

/* section_002 */

.section_002 {
  background-color: #1f242d;
}

.section_002 .main-title {
  color: #fff;
}

.section_002 .btn {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  text-transform: uppercase;
  border: none;
  background-color: #262c37;
  font-size: 16px;
  font-family: 'Architects Daughter', cursive;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.4);
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
  cursor: pointer;
}

.section_002 .btn:hover {
  color: white;
}

.section_002 .btn__line {
  position: absolute;
  display: block;
  background-color: #2894ff;
}

.section_002 .btn__line--left {
  left: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.section_002 .btn:hover .btn__line--left {
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: bottom;
      -ms-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.section_002 .btn__line--bottom {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.section_002 .btn:hover .btn__line--bottom {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.section_002 .btn__line--top {
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  -webkit-transition-delay: .3s;
       -o-transition-delay: .3s;
          transition-delay: .3s;
}

.section_002 .btn:hover .btn__line--top {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  -webkit-transition-delay: .3s;
       -o-transition-delay: .3s;
          transition-delay: .3s;
}

.section_002 .btn__line--right {
  right: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  -webkit-transition-delay: .3s;
       -o-transition-delay: .3s;
          transition-delay: .3s;
}

.section_002 .btn:hover .btn__line--right {
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: bottom;
      -ms-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  -webkit-transition-delay: .3s;
       -o-transition-delay: .3s;
          transition-delay: .3s;
}

/* section_003 */

.section_003 {
  background-color: #0e2330;
}

.section_003 .main-title {
  color: #fff;
}

.section_003 .block {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.section_003 .block__text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0e2330;
}

.section_003 .block__text-wrapper--circle {
  background-color: #e91e63;
  -webkit-clip-path: circle(200px at center);
          clip-path: circle(200px at center);
}

.section_003 .block__text {
  position: absolute;
  left: 0;
  font-size: 75px;
  font-weight: 900;
  top: 50%;
  color: #fff;
  white-space: nowrap;
  cursor: default;
  -webkit-animation: animationText 260s linear infinite;
          animation: animationText 260s linear infinite;
}

.section_003 .block__text--circle {
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: #fff;
  color: transparent;
}

@-webkit-keyframes animationText {
  0% {
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }

  100% {
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
  }
}

@keyframes animationText {
  0% {
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }

  100% {
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
  }
}

/* section_004 */

.section_004 {
  background-color: #1c1f2f;
}

.section_004 .main-title {
  color: #fff;
}

.section_004 .loader-reflection {
  position: relative;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0001);
}

.section_004 .loader {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 20px solid transparent;
  border-bottom: 20px solid #06c8f0;
  border-right: 20px solid #06c8f0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation: animateBow 4s ease-in-out infinite;
          animation: animateBow 4s ease-in-out infinite;
}

@-webkit-keyframes animateBow {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes animateBow {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.section_004 .loader__ball {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-animation: animateBall 4s ease-in-out infinite;
          animation: animateBall 4s ease-in-out infinite;
}

.section_004 .loader__ball:before {
  content: '';
  position: absolute;
  bottom: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 15px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
}

@-webkit-keyframes animateBall {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes animateBall {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

/* section_005 */

.section_005 .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  font-family: 'Architects Daughter', cursive;
}

.section_005 .list__title {
  position: relative;
  font-size: 50px;
  color: #fff;
  z-index: 1;
}

.section_005 .list__item {
  position: relative;
  width: 300px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px;
}

.section_005 .list__item:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(25px);
          filter: blur(25px);
  border-radius: 40px;
  -webkit-transform: translateY(30px) scale(0.9);
      -ms-transform: translateY(30px) scale(0.9);
          transform: translateY(30px) scale(0.9);
}

.section_005 .list__item:nth-child(1),
.section_005 .list__item:nth-child(1):before {
  background: -o-linear-gradient(315deg, #f403d1, #64b5f6);
  background: linear-gradient(135deg, #f403d1, #64b5f6);
}

.section_005 .list__item:nth-child(2),
.section_005 .list__item:nth-child(2):before {
  background: -o-linear-gradient(315deg, #ffec61, #f321d7);
  background: linear-gradient(135deg, #ffec61, #f321d7);
}

.section_005 .list__item:nth-child(3),
.section_005 .list__item:nth-child(3):before {
  background: -o-linear-gradient(315deg, #24ff72, #2196F3);
  background: linear-gradient(135deg, #24ff72, #2196F3);
}

/* section_006 */

.section_006 {
  background-color: #03a9f4;
}

.section_006 .main-title {
  color: #fff;
}

.section_006 .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

.section_006 .list__item {
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px;
}

.section_006 .loader {
  position: relative;
  width: 120px;
  height: 120px;
}

.section_006 .loader span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(calc(18deg * var(--i)));
      -ms-transform: rotate(calc(18deg * var(--i)));
          transform: rotate(calc(18deg * var(--i)));
}

.section_006 .loader span:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-animation: animateFly 2s linear infinite;
          animation: animateFly 2s linear infinite;
  -webkit-animation-delay: calc(.1s * var(--i));
          animation-delay: calc(.1s * var(--i));
}

@-webkit-keyframes animateFly {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  10% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }

  80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes animateFly {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  10% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }

  80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.section_006 .rocket {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: rotating 2s linear infinite;
          animation: rotating 2s linear infinite;
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}

@-webkit-keyframes rotating {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }

  100% {
    -webkit-transform: rotate(370deg);
            transform: rotate(370deg);
  }
}

@keyframes rotating {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }

  100% {
    -webkit-transform: rotate(370deg);
            transform: rotate(370deg);
  }
}

.section_006 .rocket:before {
  content: '';
  position: absolute;
  top: 80px;
  left: 90px;
  width: 60px;
  height: 40px;
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}

.section_006 .rocket--space-shuttle-solid:before {
  background: url("../images/icons/space-shuttle-solid.svg") no-repeat;
}

.section_006 .rocket--fighter-jet-solid:before {
  background: url("../images/icons/fighter-jet-solid.svg") no-repeat;
}

.section_006 .rocket--plane-solid:before {
  background: url("../images/icons/plane-solid.svg") no-repeat;
}

/* section_007 */

.section_007 {
  background-color: #042104;
  -webkit-animation: animateBg 10s linear infinite;
          animation: animateBg 10s linear infinite;
}

.section_007 .main-title {
  color: #fff;
}

@-webkit-keyframes animateBg {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }

  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes animateBg {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }

  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

.section_007 .loader {
  position: relative;
  width: 120px;
  height: 120px;
}

.section_007 .loader span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(calc(18deg * var(--i)));
      -ms-transform: rotate(calc(18deg * var(--i)));
          transform: rotate(calc(18deg * var(--i)));
}

.section_007 .loader span:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background-color: #00ff0a;
  -webkit-box-shadow: 0 0 10px #00ff0a, 0 0 20px #00ff0a, 0 0 40px #00ff0a, 0 0 60px #00ff0a, 0 0 80px #00ff0a, 0 0 100px #00ff0a;
          box-shadow: 0 0 10px #00ff0a, 0 0 20px #00ff0a, 0 0 40px #00ff0a, 0 0 60px #00ff0a, 0 0 80px #00ff0a, 0 0 100px #00ff0a;
  border-radius: 50%;
  -webkit-animation: animateFlyCircle 2s linear infinite;
          animation: animateFlyCircle 2s linear infinite;
  -webkit-animation-delay: calc(.1s * var(--i));
          animation-delay: calc(.1s * var(--i));
}

@-webkit-keyframes animateFlyCircle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes animateFlyCircle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

/* section_008 */

.section_008 {
  background-color: #102626;
}

.section_008 .main-title {
  color: #fff;
}

.section_008 .loader-reflection {
  position: relative;
  -webkit-box-reflect: below 1px linear-gradient(#0001, #0004);
}

.section_008 .loader {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #0d2320;
  -webkit-animation: animateNeonCircle 2s linear infinite;
          animation: animateNeonCircle 2s linear infinite;
}

.section_008 .loader:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(rgba(0, 255, 249, 0.4)));
  background: -o-linear-gradient(bottom, transparent, rgba(0, 255, 249, 0.4));
  background: linear-gradient(to top, transparent, rgba(0, 255, 249, 0.4));
  background-size: 100px 180px;
  background-repeat: no-repeat;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.section_008 .loader:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background: #00fff9;
  border-radius: 50%;
  z-index: 10;
  -webkit-box-shadow: 0 0 10px #00fff9, 0 0 20px #00fff9, 0 0 30px #00fff9, 0 0 40px #00fff9, 0 0 50px #00fff9, 0 0 60px #00fff9, 0 0 70px #00fff9, 0 0 80px #00fff9, 0 0 90px #00fff9, 0 0 100px #00fff9;
          box-shadow: 0 0 10px #00fff9, 0 0 20px #00fff9, 0 0 30px #00fff9, 0 0 40px #00fff9, 0 0 50px #00fff9, 0 0 60px #00fff9, 0 0 70px #00fff9, 0 0 80px #00fff9, 0 0 90px #00fff9, 0 0 100px #00fff9;
}

@-webkit-keyframes animateNeonCircle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animateNeonCircle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.section_008 .loader span {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background-color: #102626;
  border-radius: 50%;
}

/* section_009 */

.section_009 {
  background-color: #111;
}

.section_009 .main-title {
  color: #fff;
}

.section_009 .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

.section_009 .list__item {
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px;
}

.section_009 .btn {
  position: relative;
  padding: 10px 25px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  width: 200px;
  letter-spacing: 2px;
  font-family: 'Architects Daughter', cursive;
  color: #fff;
  cursor: pointer;
  background-color: transparent;
  border: none;
  -webkit-transition: background .5s linear, border-color .3s linear, -webkit-animation .5s linear;
  transition: background .5s linear, border-color .3s linear, -webkit-animation .5s linear;
  -o-transition: animation .5s linear, background .5s linear, border-color .3s linear;
  transition: animation .5s linear, background .5s linear, border-color .3s linear;
  transition: animation .5s linear, background .5s linear, border-color .3s linear, -webkit-animation .5s linear;
}

.section_009 .btn:hover {
  background: #ec0b36 url("../images/decor/btn/pixel.png");
  background-size: 200px;
  -webkit-transition-delay: .8s;
       -o-transition-delay: .8s;
          transition-delay: .8s;
  -webkit-animation: animatePixelBgBtn 0.8s steps(8) forwards;
          animation: animatePixelBgBtn 0.8s steps(8) forwards;
}

.section_009 .btn--violet:hover {
  background: #730bec url("../images/decor/btn/pixel2.png");
  background-size: 200px;
  -webkit-transition-delay: .8s;
       -o-transition-delay: .8s;
          transition-delay: .8s;
  -webkit-animation: animatePixelBgBtn 0.8s steps(8) forwards;
          animation: animatePixelBgBtn 0.8s steps(8) forwards;
}

@-webkit-keyframes animatePixelBgBtn {
  0% {
    background-position-y: 0;
  }

  100% {
    background-position-y: -480px;
  }
}

@keyframes animatePixelBgBtn {
  0% {
    background-position-y: 0;
  }

  100% {
    background-position-y: -480px;
  }
}

/* section_010 */

.section_010 .card {
  font-family: 'Poppins', sans-serif;
  position: relative;
  width: 600px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  background: -o-linear-gradient(315deg, #d41e31, #491f8f);
  background: linear-gradient(135deg, #d41e31, #491f8f);
  margin: 20px;
}

.section_010 .card:hover .card__img {
  -webkit-transform: translateX(-10%);
      -ms-transform: translateX(-10%);
          transform: translateX(-10%);
  height: 500px;
}

.section_010 .card:hover .card__content {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.section_010 .card__img {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 400px;
  -webkit-transition: height .5s, -webkit-transform .5s;
  transition: height .5s, -webkit-transform .5s;
  -o-transition: transform .5s, height .5s;
  transition: transform .5s, height .5s;
  transition: transform .5s, height .5s, -webkit-transform .5s;
}

.section_010 .card__content {
  position: relative;
  width: 50%;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  padding: 20px 20px 20px 40px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .5s, visibility .5s, -webkit-transform .5s;
  transition: opacity .5s, visibility .5s, -webkit-transform .5s;
  -o-transition: opacity .5s, transform .5s, visibility .5s;
  transition: opacity .5s, transform .5s, visibility .5s;
  transition: opacity .5s, transform .5s, visibility .5s, -webkit-transform .5s;
}

.section_010 .card__title {
  color: #fff;
  text-transform: uppercase;
  font-size: 36px;
}

.section_010 .card__text {
  color: #fff;
  margin-bottom: 10px;
}

.section_010 .card__link {
  position: relative;
  display: inline-block;
  color: #111;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #fff;
  text-decoration: none;
}

/* section_01111111 */

.section_01111111 {
  background-color: #000;
}

.section_01111111 .section__inner {
  position: relative;
}

.section_01111111 .main-title {
  color: #fff;
}

.section_01111111 .title-light {
  font-size: 240px;
  font-family: 'Permanent Marker', cursive;
  font-weight: 400;
  color: #fff;
  cursor: default;
}

.section_01111111 .light {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: -o-radial-gradient(var(--x) var(--y), circle, transparent 10%, rgba(0, 0, 0, 0.95) 20%);
  background: radial-gradient(circle at var(--x) var(--y), transparent 10%, rgba(0, 0, 0, 0.95) 20%);
}

/* section_011 */

.section_011 {
  position: relative;
  z-index: 1;
  background: -o-radial-gradient(#111, #000);
  background: radial-gradient(#111, #000);
}

.section_011 .main-title {
  color: #fff;
}

.section_011 .glowing {
  position: relative;
  font-size: 160px;
  text-transform: uppercase;
  color: transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#222), color-stop(50%, #222), color-stop(50%, #111), to(#111));
  background: -o-linear-gradient(top, #222 0%, #222 50%, #111 50%, #111 100%);
  background: linear-gradient(to bottom, #222 0%, #222 50%, #111 50%, #111 100%);
  -webkit-background-clip: text;
}

.section_011 .glowing:before {
  content: attr(data-text);
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: -1;
  background: -o-linear-gradient(45deg, #ff0, #0f0, #f00, #00f, #0f0);
  background: linear-gradient(45deg, #ff0, #0f0, #f00, #00f, #0f0);
  color: transparent;
  -webkit-background-clip: text;
}

.section_011 .glowing:after {
  content: attr(data-text);
  position: absolute;
  top: 30px;
  left: 20px;
  z-index: -2;
  background: -o-linear-gradient(45deg, #ff0, #0f0, #f00, #00f, #0f0);
  background: linear-gradient(45deg, #ff0, #0f0, #f00, #00f, #0f0);
  color: transparent;
  -webkit-background-clip: text;
  -webkit-filter: blur(20px);
          filter: blur(20px);
}

/* section_012 */

.section_012 {
  background-color: #cde8f8;
}

.section_012 .main-title {
  color: #fff;
}

.section_012 .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

.section_012 .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px;
}

.section_012 .loader {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.section_012 .loader--stick {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.section_012 .loader span {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  border-radius: 30px;
  -webkit-box-shadow: inset -5px -5px 5px rgba(255, 255, 255, 0.6), inset 5px 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: inset -5px -5px 5px rgba(255, 255, 255, 0.6), inset 5px 5px 5px rgba(0, 0, 0, 0.1);
  -webkit-animation: animateShadow 7s linear infinite;
          animation: animateShadow 7s linear infinite;
  -webkit-animation-delay: calc(.5s * var(--i));
          animation-delay: calc(.5s * var(--i));
}

.section_012 .loader--stick span {
  height: calc(30px * var(--i));
}

@-webkit-keyframes animateShadow {
  0% {
    -webkit-box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.6), 6px 6px 10px rgba(0, 0, 0, 0.1);
            box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.6), 6px 6px 10px rgba(0, 0, 0, 0.1);
  }

  100% {
    -webkit-box-shadow: inset -5px -5px 5px rgba(255, 255, 255, 0.6), inset 5px 5px 5px rgba(0, 0, 0, 0.1);
            box-shadow: inset -5px -5px 5px rgba(255, 255, 255, 0.6), inset 5px 5px 5px rgba(0, 0, 0, 0.1);
  }
}

@keyframes animateShadow {
  0% {
    -webkit-box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.6), 6px 6px 10px rgba(0, 0, 0, 0.1);
            box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.6), 6px 6px 10px rgba(0, 0, 0, 0.1);
  }

  100% {
    -webkit-box-shadow: inset -5px -5px 5px rgba(255, 255, 255, 0.6), inset 5px 5px 5px rgba(0, 0, 0, 0.1);
            box-shadow: inset -5px -5px 5px rgba(255, 255, 255, 0.6), inset 5px 5px 5px rgba(0, 0, 0, 0.1);
  }
}

/* section_013 */

.section_013 {
  background-color: #2c3a47;
}

.section_013 .main-title {
  color: #fff;
}

.section_013 .social__link {
  position: relative;
  display: inline-block;
  font-size: 40px;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: #6ab04c;
  margin: 0 16px;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  -o-transition: transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.section_013 .social__link:before,
.section_013 .social__link:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.section_013 .social__link:hover {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}

.section_013 .social__link:hover:before {
  border-left: 4px solid;
  border-right: 4px solid;
  -webkit-transform: skewX(20deg);
      -ms-transform: skewX(20deg);
          transform: skewX(20deg);
}

.section_013 .social__link:hover:after {
  border-top: 4px solid;
  border-bottom: 4px solid;
  -webkit-transform: skewY(-20deg);
      -ms-transform: skewY(-20deg);
          transform: skewY(-20deg);
}

@media (max-width: 1024px) {
  body {
    font-size: 17px;
  }
}

@media (max-width: 991px) {
  .section_010 .card {
    width: auto;
    max-width: 600px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-transition: height .5s;
    -o-transition: height .5s;
    transition: height .5s;
  }

  .section_010 .card:hover {
    height: 600px;
  }

  .section_010 .card:hover .card__img {
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 350px;
  }

  .section_010 .card:hover .card__content {
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
  }

  .section_010 .card__content {
    width: 100%;
    padding: 40px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 16px;
  }

  .section_010 .card:hover .card__img {
    height: 310px;
  }

  .section_010 .card__content {
    padding: 20px;
  }

  .section_010 .card__title {
    font-size: 30px;
  }
}